<header>
    <!-- Offer Alert -->
    <div class="offer hide-on-mobile py-2 text-center">
      <p>FREE DELIVERY OVER 999 EGP</p>
      <p>WELCOME OFFER 20% OFF </p>
      <p>FREE RETURNS</p>
    </div>
  
    <!-- Nav Container -->
    <div class="nav-contaienr">
      <!-- NavBar -->
      <nav class="nav-top py-1">
        <!-- Container -->
        <div class="nav container d-flex align-center">
          <a routerLink="" class="logo">SH<span class="logo-dot">O</span>PY</a>
          <div class="buttons">
            <div class="login">
              <ul class="nav-links">
                <li class="link position-relative pb-1 cursor-pointer">
                  <a routerLink="login" routerLinkActive="active_link">Login</a>
                </li>
  
                <li class="link position-relative pb-1 cursor-pointer">
                  <a routerLink="register" routerLinkActive="active_link"
                    >Register</a
                  >
                </li>
  
                <li class="cart link position-relative pb-1 cursor-pointer">
                  <a class="fa-regular fa-heart" routerLink="favourite" routerLinkActive="active_link"></a>
                </li>

                <li class="cart link position-relative pb-1 cursor-pointer">
                    <a class="fa-solid fa-cart-shopping" routerLink="cart" routerLinkActive="active_link"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  