<form  [formGroup]="registerForm" (ngSubmit)="handleSubmitForm()"
        class="p-5 bg-light bg-opacity-10 rounded m-auto mt-5 mb-5 needs-validation" novalidate style="width: 40vw; border:solid 1px black;" id="myForm">
    <h3 class="text-center">Welcome back | Sign in</h3>
    
    <div class="form-floating mt-4 mb-3">
        <input type="text" class="form-control" formControlName="username" id="floatingPassword" placeholder="Username" required>
        <label for="floatingPassword">Username</label>
        @if(registerForm.controls['username'].touched && registerForm.controls['name'].invalid){
            <div id="emailHelp" class="form-text text-danger">
                @if(registerForm.controls['username'].errors?.['required']){
                    <small>Please enter your username</small>
                }
                @if(registerForm.controls['username'].errors?.['minlength']){
                    <small>Username is invalid</small>
                }

            </div>
        }
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
        @if(registerForm.controls['password'].touched && registerForm.controls['name'].invalid){
            <div id="emailHelp" class="form-text text-danger">
                @if(registerForm.controls['password'].errors?.['required']){
                    <small>Please enter your password</small>
                }
                @if(registerForm.controls['password'].errors?.['minlength']){
                    <small>Password is invalid</small>
                }

            </div>
        }
    </div>
   
    <div class="login mt-2">
        <button class="btn btn-buy" type="submit" >login</button>
    </div>
</form>