.section-heading {
    margin-block: 3rem 4rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: var(--fweight-900);
    font-size: var(--fsize-clamp-heading);
    border: 1px solid black;
    transition: var(--transition-short);
    z-index: 10;
  }
  
  .section-heading::before,
  .section-heading::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: var(--color-accent);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .section-heading::before {
    left: -1.8rem;
  }
  
  .section-heading::after {
    right: -1.8rem;
  }
  
  .section-heading:hover::before {
    z-index: -1;
    animation: left-dot 0.5s linear forwards;
  }
  
  .section-heading:hover::after {
    z-index: -1;
    animation: right-dot 0.5s linear forwards;
  }
  
  .section-heading:hover {
    border: 1px solid var(--color-accent);
    color: white;
    background-color: var(--color-accent);
    transition-delay: 0.5s;
  }
  
  /* ===================== */
  /* *ANCHOR -  MAIN ===== */
  /* ===================== */
  
  /* =========================== */
  
  /* *ANCHOR -  Products Card Grid */
  .products-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem 2rem;
  }
  
  .card {
    border: 1px solid var(--color-border-light);
    overflow: hidden;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.05);
  }
  
  .card-product {
    overflow: hidden;
  }
  
  .card-product img {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
  }
  
  .card:hover .cart-btn,
  .card:hover .fav,
  .card:hover .color {
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn {
    text-align: center;
    background-color: white;
    border: 1px solid var(--color-border-dark);
    border-radius: 50rem;
    transition: var(--transition-short);
  }
  
  .cart-btn {
    position: absolute;
    transform: translateY(2rem);
    opacity: 0;
    margin-bottom: 0.8rem;
    padding-block: 0.3rem;
  }
  
  .cart-btn:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
  .card-product .fav {
    opacity: 0;
    top: 0.75rem;
    right: 1rem;
    border-radius: 10rem;
    border: 1px solid var(--color-border-light);
    transition: var(--transition-short);
  }
  
  .card-product .fav-solid i {
    opacity: 0;
    color: red;
    transition: var(--transition-short);
  }
  
  .card-product .fav-solid:hover i {
    opacity: 1;
  }
  
  .product-cat {
    font-size: 0.7rem;
    text-transform: capitalize;
    margin-block: 0.75rem 0.25rem;
  }
  
  .product-h {
    display: block;
    width: fit-content;
    font-size: var(--fsize-200);
    font-weight: var(--fweight-700);
  }
  
  .product-p {
    color: #777;
    font-size: var(--fsize-100);
    min-height: 5rem;
  }
  
  /* *STUB -  Price & Colors */
  .colors {
    gap: 6px;
  }
  
  .color {
    transform: translateX(4rem);
    opacity: 0;
    transition: var(--transition-short);
    width: 1rem;
    height: 1rem;
    border-radius: 50rem;
  }
  
  .color-active {
    outline: 1px solid var(--color-accent);
    outline-offset: 2px;
  }
  
  .color1 {
    background-color: white;
    border: 1px solid var(--color-border-dark);
  }
  .color2 {
    background-color: #3498db;
  }
  .color3 {
    background-color: #777;
  }
  .color4 {
    background-color: maroon;
  }
  
  /* ===================== */
  /* ===== Animation ===== */
  /* ===================== */
  
  /* Animation */
  @keyframes left-dot {
    50% {
      left: 0%;
      width: 12px;
      height: 12px;
    }
    100% {
      left: 0;
      width: 51%;
      height: 100%;
      border-radius: 0%;
    }
  }
  
  @keyframes right-dot {
    50% {
      right: 0%;
      width: 12px;
      height: 12px;
    }
    100% {
      right: 0;
      width: 51%;
      height: 100%;
      border-radius: 0%;
    }
  }
  
  /* Media Queries */
  
  /* Grid Fix */
  @media (max-width: 1000px) {
    .cat-grid {
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 2.5rem;
    }
  
    .boxes {
      margin: 0 auto;
      flex-direction: column;
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    /* Slider */
    .slider {
      height: 60vh;
    }
    /* --------- */
    .products-grid {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 4rem 2rem;
    }
  
    .boxes {
      margin: 0 auto;
      flex-direction: column;
      width: 100%;
    }
  }
  
  @media (max-width: 550px) {
    .sale-grid {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  
    .sale-grid {
      text-align: center;
    }
  }  